<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.pms_project">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".utils.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.NavigationDrawerActivity" />
        <activity
            android:name=".activities.ForcastActivity"
            android:label="@string/title_activity_forcast"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AccountsActivity"
            android:label="@string/title_activity_accounts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BudgtsActivity"
            android:label="@string/title_activity_budgts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RemindersActivity"
            android:label="@string/title_activity_reminders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TagsActivity"
            android:label="@string/title_activity_tags"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GroupsActivity"
            android:label="GroupsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddTransactionActivity"
            android:label="@string/title_activity_add_transaction"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddTagsActivity"
            android:label="@string/title_activity_add_tags"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ContactUsAcivity"
            android:label="@string/title_activity_contact_us_acivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SelectTagActivity"
            android:label="@string/title_activity_select_tag"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ShowIncomesActivity"
            android:label="@string/title_activity_show_incomes"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity -->
        <!-- android:name=".activities.Main2Activity" -->
        <!-- android:label="@string/title_activity_main2" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".activities.ShowAllTagsActivity"
            android:label="@string/title_activity_show_all_tags"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.AllGraphsActivity" />
        <!-- <activity android:name=".SplashScreenActivity"></activity> -->
        <activity android:name=".activities.SelectTagsTotalActivity"></activity>
    </application>

</manifest>